{% extends "base.html" %}

{% block title %}Edit Position{% endblock %}

{% block content %}
    <h1>Edit Position</h1>
    
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    
    <form method="post">
        <div>
            <label>Position Name:</label>
            <input type="text" name="name" value="{{ position.name }}" required>
        </div>
        
        <br>
        <div>
            <button type="submit" class="btn-edit">Update</button>
            <a href="/pages/positions" class="btn-back">Cancel</a>
        </div>
    </form>
{% endblock %}